body {
    font-family: sans-serif;
  }
  
h1 {
    text-align: center;
    color: white;
    background-color: skyblue;
    padding: 1em;
}
#Dados, #CpuInfo , #HdInfo, #MemInfo {
    color: white;
    background-color: skyblue;
    text-align: center;

    
}

.table {
    text-align: center;
}

main {
    font-family: Styles;
    font-size: 20px; 
}
